site_name: Algorithm Notes
site_url: https://scbz4learning.github.io/algo-notes/
repo_url: https://github.com/scbz4learning/algo-notes.git
remote_branch: pages 
remote_name: origin

theme:
  name: material
  language: zh
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - content.action.edit
    - content.action.view
    - search.suggest
    - search.highlight
    - tags
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
    - media: "(prefers-color-scheme: dark)"
      scheme: slate

plugins:
  - search
  - tags

markdown_extensions:
  - admonition
  - footnotes
  - tables
  - toc:
      permalink: true
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.magiclink
  - pymdownx.tasklist
  - pymdownx.emoji
  - pymdownx.tilde
  - pymdownx.mark
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.tabbed
  - "nl2br"

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/scbz4learning/algo-notes
